.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    }

.nav__logo {
    position: relative;
    width:105px;
    height:39px;
    margin: 0;
    left:-60px;
    }

.nav__links {
    display: flex;
    justify-content: flex-end;
    color: #000;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding:0;
  }
